<div id="articles">
  <% articles.each do |article| %>
    <li>
      <strong><%= article[:title] %></strong><br> |
      <a><%= article[:content] %></a> |
      <%= render_links(article[:links]) %>
    </li>
  <% end %>
</div>